
*.vsidx
.vs/StudentInfoAPI/v17/.suo
.vs/StudentInfoAPI/v17/.suo
StudentInfoAPI/obj/Debug/StudentInfoAPI.csproj.AssemblyReference.cache
StudentInfoAPI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/StudentInfoAPI/v17/.suo
